.about {
  min-height: 790px;
  padding-top: 100px;
  background: url("../../img/wear-main.png") no-repeat center 100px;
  color: @white;
}

.about__background {
  margin-top: 100px;
  margin-bottom: 50px;
  margin-left: 50px;
  padding-bottom: 100px
}

.about__text {
  margin: 0;
  margin-left: 6px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
}

.about__heading {
  margin: 0;
  font-size: 48px;
  line-height: 48px;
  font-weight: 300;
}

.about__bottom {

  margin-bottom: 50px;
  color: @text-color;
}

.about__bottom-wrapper {
  display: flex;
  justify-content: space-between;
}

.about__articles {
  display: flex;
  flex-direction: column;
}

.about__descr {
  width: 610px;
}

.about__descr-text {
  margin: 0;
  font-size: 18px;
  line-height: 26px;

}

.about__articles-title {
  margin: 0;
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.about__articles-link {
  line-height: 19px;
  margin-bottom: 11px;
}