.article-card {
  padding: 50px;
  margin-bottom: 30px;
  background-color: #FFFFFF;
}

.article-card__link {
  display: block;
  text-decoration: none;
}

.article-card__date {
  font-size: 16px;
  line-height: 25px;
  color: rgba(29, 29, 27, 0.5);
}

.article-card__heading {
  font-size: 18px;
  line-height: 25px;
  color: @text-color;
}

.article-card__description {
  font-size: 16px;
  line-height: 22px;
  color: rgba(29, 29, 27, 0.8);
}