.callback-form {
  margin-bottom: 100px;
}

.callback-form__heading {
  font-size: 52px;
  line-height: 58px;
  text-align: center;
  font-weight: 300;
  letter-spacing: -3px;
}

.callback-form form {
  display: flex;
  justify-content: center;
}

.callback-form__input {
  padding: 15px;
  width: 420px;
  border: 2px solid rgba(29, 29, 27, 0.2);
  border-radius: 6px;
  background-color: @body-color;

  &:hover, &:focus {
    outline: none;
    border: 2px solid @red;
  }
}

.callback-form__btn {
  margin-left: -11px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.callback-form__input[placeholder] {
  font-size: 16px;
  line-height: 16px;
  color: rgba(29, 29, 27, 0.7);
  padding-left: 120px;
}